:root {
    --letter: #89969C;
    --white: #ffff;
    --button: #C2E8FF;
}

.app {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.app__title {
    color: var(--white);
    text-shadow: 2px 5px darkgray;
    position: absolute;
    top: 3em;
    font-size: 2rem;
}

.card {
    font-size: 1rem;
    padding: 1.5em;
    border-radius: 0.8em;
    width: 100%;
    max-width: 400px;
    background-color: var(--white);
    line-height: 1.8;
    border: 0.15em solid #6894B4;
    color: #00000088;
    box-shadow: 0.3em 0.3em 1em #0008;
}

.author {
    padding: 1em;
    background-color: transparent;
    border-radius: 0.5em;
    color: #000;
    border: 0.1em solid var(--white);
}

.app__btn {
    padding: 1em 1.5em;
    font-size: 1rem;
    border-radius: 0.5em;
    background-color: var(--button);
    font-weight: 500;
    color: var(--letter);
    border: 0.2em solid var(--white);
    transition: transform 100ms ease, filter 100ms ease;
}

.app__btn:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

.link {
    position: fixed;
    text-decoration: none;
    padding: 1em;
    background-color: var(--button);
    border-radius: 0.5em;
    color: var(--letter);
    border: 0.2em solid var(--white);
    transition: transform 100ms ease, filter 100ms ease;
    bottom: 1em;
    left: 0.7em;
}

.link:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
}

@media (min-width: 600px) {
    .app__title {
        font-size: 40px;
    }

    .card {
        max-width: 550px;
        height: 130px;
        margin-top: 3em;
    }
}